<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="appRoot"  >
        <ul v-for="(student, index ) in students">
           {{ index }}     {{ student.name }}
         </ul>
       <!-- <ul v-for="(value, key) in studentObj">
          {{ key }}  || {{ value }}
       </ul> -->
    </div>

    <script src="assets/js/vue.js" ></script>
    <script src="assets/js/app.js"></script>
</body>
</html>